asgiref>=3.9.1
Django==6.0.2
pillow
PyJWT==2.10.1
python-dotenv==1.0.1
sqlparse==0.5.3
tzdata==2025.1
paydunya
djangorestframework
django-cors-headers
drf-spectacular
djangorestframework-simplejwt
gunicorn
whitenoise
dj-database-url
psycopg2-binary
django-debug-toolbar==6.2.0
